
  #container {
    margin : auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 50px);
    grid-template-columns: repeat(var(--grid-cols), 50px);
  }
  
  .grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
  }

  .cell {
  border: 2px solid gray;
  min-width: 10px;
  min-height: 20px;
  display: inline-block;
}