:root {
    --numCols: 1;
    --numRows: 1;
}
 
 #container {
    display: grid;
    margin:auto;
    justify-content: center;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols),  1fr); 
    width : 600px;
    height : 600px;
 

  }

  .grid {
    border: 1px solid #ddd;
    text-align: center;
   
  }

  .cell {
  border: 2px solid gray;
}