:root {
  --rows : 1;
  }

.container{
  margin: auto;
  display: grid;
  grid-template-rows: repeat(var(--rows), 1fr);
  grid-template-columns: repeat(var(--rows),1fr);
  width:  500px;
  height: 500px;

}

.div{
  border: 1px solid black;
}

.buttons
{
  margin: auto;
  width: 500px;
  height: 50px;
  padding-top: 10px;
}

.gridvalue{
  margin: auto;
  width: 500px;
  height: 50px;
  padding-bottom:5px;
}